* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    width: 100%;
    max-height: 160px;
    background-color: #f7dd74;
    display: flex;
}

.nav .navItems {
    margin: auto 3em;
    width: 100%;

    display: flex;
    align-items: center;
    list-style: none;
}

.nav .navItems img {
    width: 230px;
    height: 230px;
    margin-right: 6em;

    border-radius: 50%;

    position: relative;
    top: 2.5em;

    z-index: 1;
}

.nav .navItems a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}

.nav.dropdown {
    position: relative;
    display: inline-block;
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7dd74;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 14px;

    z-index: 1;
}

.nav .dropdown-content a{
    display: flex;
    margin-top: 0.8em;
}

.nav .dropdown-content a:first-child{
    margin-top: 0;
}

.name {
    padding: 1em;
    margin-left: 18em;
    margin-top: 2em;
}

.name p:first-child{
    font-size: 30px;
    font-weight: bold;
}

.name p:last-child{
    font-size: 24px;
    
    position: relative;
    bottom: 15px;
}

.info {
    width: 100%;
    height: 270px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info .text-info {
    width: 65%;
    height: 200px;
    padding: 0.8em 3em;
    overflow: auto;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 30px;
}

.info .text-info p {
    margin-top: 0.5em;
}